body {
    margin: 0;
    padding: 0;
    /* width: 1366px; */
    width: 100vw;
    /* height: 768px; */
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
    display: flex;
}

div {
    border: 1px solid;
}

.box_container {
    margin: auto;
    width: 1000px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
}


/* 
.content { 
    border: 1px solid;
    width: 800px;
    height: 300px;
    display: flex;
} */

.box_sedans, .box_suvs, .box_luxury {
    /* border: 1px solid; */
    width: 250px;
    height: 400px;
}






/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700

 */