body {
    margin: 0;
    padding: 0;
    /* width: 1366px; */
    width: 100vw;
    /* height: 768px; */
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
}



/* MAIN WITH CONTENT */
.box_container {
    /* width: 1000px; */
    min-width: 990px;
    width: 73%;
    max-width: 1000px;
    /* height: 450px; */
    height: 59%;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* BOXS WITH CONTENT */
.box_sedans, .box_suvs, .box_luxury {
    min-width: 270px;
    width: 27%;
    min-height: 390px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 35px;
}

.box_sedans {
    border-radius: 7px 0 0 7px;
    background-color: hsl(31, 77%, 52%);
}

.box_suvs {
    background-color: hsl(184, 100%, 22%);
}

.box_luxury {
    border-radius: 0 7px 7px 0;
    background-color: hsl(179, 100%, 13%);
}



/* DIVS WITH TEXT */
.box_texts {
    /* height: 200px; */
    height: 53%;
}

h1 {
    /* width: 100px; */
    width: 50%;
    font: 700 35px 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

.box_texts > p {
    color: hsla(0, 0%, 100%, 0.75);
    font: 400 13px 'Lexend Deca', sans-serif;
    /* width: 190px; */
    width: 95%;
    line-height: 20px;
}


/* BOX WITH BUTTON */
.box_button {
    /* width: 130px; */
    width: 65%;
    height: 12%;
    margin-top: 30px;
}

button{
    border: none;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    font: 400 13px 'Lexend Deca', sans-serif;;
    background-color: hsl(0, 0%, 95%);
}

button:hover {
    background-color: hsla(0, 0%, 95%, 0.712);
    transition: 500ms;
    cursor: pointer;
    border: 2px solid hsl(0, 0%, 95%);
}

.box_sedans > .box_button > button {
    color:  hsl(31, 77%, 52%);
}

.box_suvs > .box_button > button {
    color:  hsl(184, 100%, 22%);
}

.box_luxury > .box_button > button {
    color: hsl(179, 100%, 13%);    
}


@media  (max-width:800px) {
    .box_container {
        min-width:initial;
        max-width: initial;
        max-height: initial;
        display: initial;
        margin-top: 20%;
        width: 270px;
        height: 100%;
    }

    .box_sedans, .box_suvs, .box_luxury {
        min-width: initial;
        width: 100%;
        min-height: initial;
        height: 380px;
        box-sizing: border-box;
        padding: 30px 35px;
    }

    .box_sedans {
        border-radius: 7px 7px 0 0;
    }
    
    .box_luxury {
        border-radius: 0 0 7px 7px;
    }
}






/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;


- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700

 */